.but {
	/*float: left;*/
	text-align: center;
	display: block;
	border: none;
	border-radius: 4px;
	padding: 10px 10px;
	font-size: 13px;

	color: black;
	transition-duration: 0.9s;
	opacity: 0.4;
}

.butgotoPage {
	display: none;
	position: absolute;
    right: 10px;
    top: 10px;
}

/*===================================================*/

.but:hover {
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.15), 0 17px 50px 0 rgba(0,0,0,0.15);
	font-size: 16px;
    padding: 16px 16px;
	border-radius: 12px;
 	transition-duration: 0.2s;
    opacity: 0.9;
	cursor: pointer;
	transform: rotateZ(10deg);
}

.butP5js:hover {
	color: black;
	transform: rotateZ(0deg);
}
.butVisual:hover {
	background-color: red;
}
.butInfini:hover {
	background-color: orange;
}
.butPhysic2:hover {
	background-color: yellow;
}
.butPhysic:hover {
	background-color: green;
}
.butLsystem:hover {
	background-color: blue;
}
.butPaint:hover {
	background-color: gray;
}
.butFireW:hover {
	background-color: purple;
}
.butgotoPage:hover {
	transform: rotateZ(0deg)
}

/*===============================*/

.dropdown:hover .dropdown-content {
    display: block;
    position: relative;
    animation: animate 0.5s;
}

.dropdown:hover .but{
	position: relative;
	animation: animate 0.5s;
}
@keyframes animate {
	0%{top: 0px; color: white;}
	50%{top: 10px;}
	100%{top: 0px; color: black;}
}

.dropdown-content {
    display: none;
    width: 200px;
    background-color: none;
    border-radius: 14px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5), 0 17px 50px 0 rgba(0,0,0,0.5);
    position: fixed;
    z-index: 1;
}

#image {
	position: fixed;
	left: 12.5%;
	top: 12.5%;
	width: 75%;
	height: 75%;
	border: none;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5), 0 17px 50px 0 rgba(0,0,0,0.5);
}

#ifm {
	position: fixed;
	left: 0px;
	top: 0px;
	border: none;
	width: 100%;
	height: 100%;
}

